<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BB1024.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D4460E81CA81A4E0086FDEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D4460FC1CA81A4E0086FDEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D4461071CA81A4E0086FDEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
